body {
  background-color: #3b5998;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

label, input[type="submit"] {
  display: block;
  margin: 20px auto;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

input[type="submit"] {
  background-color: #3b5998;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
}

p {
  text-align: center;
}
